<title>The Truth About Masturbation eBook // BOOK</title>
<meta name='description'
      content="Is masturbation a sin? Get the answers you're looking for. Take a
               thought provoking journey through the varying religious, societal,
               and scientific views on masturbation throughout history.">
<meta name='keywords'
      content='s masturbation a sin, is masturbation wrong, is masturbation healthy,
      is masturbation a sin in islam, is masturbation a sin in christianity,
      is it bad to masturbate, is masturbation harmful,
      is masturbation a sin in catholicism, why do we masturbate'>

<div class='row container'>
  <h1 class='grey-text text-darken-3 header-font'>
    THE TRUTH ABOUT MASTURBATION
  </h1>
  <br>
  <div class='hide-on-small-only'>
    <div class='col m7'>
      <h5 class='grey-text text-darken-3'>
        Is masturbation a sin?<br><br>Get the answers you're looking for. Take a
        thought provoking journey through the varying religious, societal, and
        scientific views on masturbation throughout history.<br><br>
        Available for Amazon preorder today. Coming July 2015!<br><br>
        Enter your email below and we will send you a free chapter today.
      </h5>
      <br><br>
      <a href='http://www.amazon.com/dp/B00X508DVK'
         class='waves-effect waves-light btn-large blue white-text'
         style='width:300px;'>
        Pre-order the eBook
      </a>
      <br><br>
      <a class='waves-effect waves-light btn-large blue white-text'
         style='width:300px;'
         href='#send_me_more'>
         send me some free content
      </a>
    </div>
    <div class='col m5'>
      <center>
        <a href='http://www.amazon.com/dp/B00X508DVK'>
          <img title='The Truth About Masturbation'
               alt='Book cover for The Truth About Masturbation'
               src='/images/the_truth_about_masturbation.jpg'>
        </a>
        <br><br>
        <%= link_to image_path('http://www.amazon.com/dp/B00X508DVK'), title: "The Truth About Masturbation" do %>
          <%= image_tag('http://www.vncsolutions.com/wp-content/uploads/2015/01/amazon-183750_640.png', size:'300x165') %>
        <% end %>
      </center>
    </div>
  </div>
  <div class='hide-on-med-and-up'>
    <center>
      <br><br>
      <a href='http://www.amazon.com/dp/B00X508DVK'>
        <img title='The Truth About Masturbation'
             alt="Book cover for The Truth About Masturbation"
             src='/images/the_truth_about_masturbation.jpg'>
      </a>
      <br><br>
      <%= link_to image_path('http://www.amazon.com/dp/B00X508DVK'), title: "The Truth About Masturbation" do %>
        <%= image_tag('http://www.vncsolutions.com/wp-content/uploads/2015/01/amazon-183750_640.png', size:'300x165') %>
      <% end %>
    </center>
    <h4 class='grey-text text-darken-3'>
      Is masturbation a sin? A thought provoking journey through the varying
      religious, societal, and scientific views on masturbation throughout
      history.
    </h4>
    <br><br>
    <a href='http://www.amazon.com/dp/B00X508DVK'
       class='waves-effect waves-light btn-large blue white-text'
       style='width:300px;'>
      Pre-order the eBook!
    </a>
    <br><br>
    <a class='waves-effect waves-light btn-large blue white-text'
       style='width:300px;'
       href='#send_me_more'>
      send me some free content!
    </a>
  </div>
</div>
<div class='row grey darken-3'>
  <div class='container' id='send_me_more'>
    <%= form_for Contact.new, :remote => true do |f| %>
      <form>
        <div class='row'>
          <br>
          <h4 class='white-text'>
            Get the first chapter free! Just enter your email.
          </h4>
          <br>
          <div class='input-field col s12 m6'>
            <%= f.text_field :email, class:'white-text' %>
            <label for='email'>Email</label>
          </div>
          <div class='col s12 m6'>
            <button class='btn btn-large waves-effect waves-light blue white-text'
                    onclick="Materialize.toast('Your free chapter is on the way.', 3000)">
              Send me my free chapter!
              <i class='mdi-content-send right'></i>
            </button>
          </div>
        </div>
      </form>
    <% end %>
    <p class='white-text'>Don't worry, we won't EVER spam you or sell your email :-)</p><br><br>
  </div>
</div>
<div class='slider'>
  <ul class='slides grey lighten-5'>
    <li>
      <img src="#"/>
      <div class='caption center-align'>
        <h2 class='grey-text text-darken-3'>Is masturbation a sin? </h2>
        <h5 class='grey-text text-darken-3'>
          Learn what the world's religions teach on the subject of masturbation.
        </h5>
      </div>
    </li>
    <li>
      <div class='caption center-align'>
        <h2 class='grey-text text-darken-3'>Who says you can't masturbate?</h2>
        <h5 class='grey-text text-darken-3'>
          You'll be shocked to hear the extreme measures taken to prevent masturbation.
        </h5>
      </div>
    </li>
    <li>
      <div class='caption center-align'>
        <h2 class='grey-text text-darken-3'>Is masturbation bad for you?</h2>
        <h5 class='grey-text text-darken-3'>
          We'll show you the good and bad of how masturbation affects on your
          mind, body and spiritual life.
        </h5>
      </div>
    </li>
  </ul>
</div>
<br><br>
<hr>
<!-- <div class='row grey darken-3 white-text'>
  <br><br><br><br>
  <div class='container'>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
          <strong>John W</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
          <strong>Jacob T</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
          <strong>Jeff A</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
          <strong>Wayne J</strong>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div> -->
<br><br>
<div class='container'>
  <h2 class='grey-text text-darken-3'>What Gets Covered?</h2>
  <div class='row grey-text text-darken-3'>
    <div class='col m6'>
      <ul>
        <li><b>Introduction</b></li>
        <li>Why write this book?</li>
        <li>Who's interested in this information?</li>
        <li>Why this issue matters?</li>
      </ul>
      <ul>
        <li><b>Religion</b></li>
        <li>Is masturbation a sin?</li>
        <li>-According to Christianity and Judaism</li>
        <li>-According to Islam</li>
        <li>-Eastern religions</li>
        <li>-Other views</li>
      </ul>
      <ul>
        <li><b>Society</b></li>
        <li>Societal views on masturbation through the centuries</li>
        <li>Early writings referring to masturbation (Religious and non-religious)</li>
        <li>Attempts by various groups to prevent masturbation</li>
      </ul>
    </div>
    <div class='col m6'>
      <ul>
        <li><b>Science</b></li>
        <li>Masturbation and the Animal Kingdom</li>
        <li>-Do animals masturbate?</li>
        <li>-Do animals fantasize?</li>
        <li>Psychology and masturbation</li>
        <li>Does masturbation alter your mind?</li>
        <li>The Anatomy and Physiology of masturbation</li>
        <li>-Chemical changes and health effects</li>
      </ul>
      <ul>
        <li><b>Final Conclusion</b></li>
        <li>What are physical, mental and spiritual effects of masturbation?</li>
        <li>Can masturbation help you achieve your spiritual and personal aspirations?</li>
        <li>Should masturbation be avoided and shunned, or should it be accepted and approved?</li>
      </ul>
    </div>
  </div>
</div>
<br><br><br>
