<title>The Truth About Masturbation eBook // BOOK</title>
<div class='row container'>
  <h1 class='grey-text text-darken-3'>The Truth About Masturbation</h1>

  <div class='hide-on-small-only'>
    <div class='col m6'>
      <h4 class='grey-text text-darken-3'>
        A brief journey through the history, societal, and religious views
        of masturbaiton.
      </h4>
      <br><br>
      <a class='waves-effect waves-light btn-large blue white-text'
         style='width:300px;'>
        Pre-order the eBook!
      </a>
      <br><br>
      <a class='waves-effect waves-light btn-large blue white-text'
         style='width:300px;'
         href='/the_truth_about_masturbation_send_me_my_free_chapter'>
        Get the First Chapter Free!
      </a>
    </div>
    <div class='col m6'>
      <%= image_tag('http://ecx.images-amazon.com/images/I/71dWDwu8-CL.jpg', size: '300x450', class:"z-depth-2") %>
    </div>
  </div>
  <div class='hide-on-med-and-up'>
    <%= image_tag('http://ecx.images-amazon.com/images/I/71dWDwu8-CL.jpg', size: '300x450', class:"z-depth-2") %>
    <h4 class='grey-text text-darken-3'>
      A brief journey through the history, societal, and religious views
      of masturbaiton.
    </h4>
    <br><br>
    <a class='waves-effect waves-light btn-large grey darken-3 white-text'
       style='width:300px;'>
      Pre-order the eBook!
    </a>
    <br><br>
    <a class='waves-effect waves-light btn-large grey darken-3 white-text'
       style='width:300px;'
       href='/the_truth_about_masturbation_send_me_my_free_chapter'>
      Get the First Chapter Free!
    </a>
  </div>
</div>
<br>
<div class='row grey darken-3'>
  <div class='container'>
    <%= form_for Contact.new do |f| %>
      <form>
        <div class='row'>
          <br>
          <h4 class='white-text'>
            Get the first chapter free! Just enter your first name and email!
          </h4>
          <br><br>
          <div class='input-field col s12 m2'>
            <%= f.text_field :first_name, class:'white-text' %>
            <label for='first_name'>First Name</label>
          </div>
          <div class='input-field col s12 m4'>
            <%= f.text_field :email, class:'white-text' %>
            <label for='email'>Email</label>
          </div>
          <div class='col s12 m6'>
            <button class='btn btn-large waves-effect waves-light blue white-text'>
              Send me my free chapter!
              <i class='mdi-content-send right'></i>
            </button>
          </div>
        </div>
      </form>
    <% end %>
    <br>
  </div>
</div>
<div class='slider'>
  <ul class='slides grey lighten-2'>
    <li>
      <img src="#"/>
      <div class='caption left-align'>
        <h3 class='grey-text text-darken-3'>What You'll Learn</h3>
        <h5 class='grey-text text-darken-3'>Item #1</h5>
      </div>
    </li>
    <li>
      <div class='caption left-align'>
        <img src="#"/>
        <h3 class='grey-text text-darken-3'>What You'll Learn</h3>
        <h5 class='grey-text text-darken-3'>Item #2</h5>
      </div>
    </li>
    <li>
      <div class='caption left-align'>
        <img src="#"/>
        <h3 class='grey-text text-darken-3'>What You'll Learn</h3>
        <h5 class='grey-text text-darken-3'>Item #3</h5>
      </div>
    </li>
  </ul>
</div>
<br><br>
<div class='row grey darken-3 white-text'>
  <br><br><br><br>
  <div class='container'>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <strong>-John W</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <strong>-Jacob T</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <strong>-Jeff A</strong>
        </div>
      </div>
    </div>
    <div class='col m6 s12'>
      <div class='row'>
        <div class='col s2'>
          <i class="medium mdi-social-person"></i>
        </div>
        <div class='col s10'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <strong>-Wayne J</strong>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<br><br>
<div class='container'>
  <h2 class='grey-text text-darken-3'>What Gets Covered?</h2>
  <div class='row grey-text text-darken-3'>
    <div class='col m4'>
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Coca Cola</li>
      </ul>
    </div>
    <div class='col m4'>
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Coca Cola</li>
      </ul>
    </div>
    <div class='col m4'>
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Coca Cola</li>
      </ul>
    </div>
  </div>
</div>
<br><br><br>
<div class='row grey darken-3 white-text' style='height: 200px;'>
  <div class='container'>
    <br><br>
    <center>
      <h4>Featured On!</h4>
    </center>
  </div>
</div>
<div class='container'>
  <br><br>
  <center>
    <h4 class='grey-text text-darken-3'>Pre-Order the eBook Today!</h4>
    <%= image_tag('http://www.vncsolutions.com/wp-content/uploads/2015/01/amazon-183750_640.png', class:'hide-on-small-only') %>
    <%= image_tag('http://www.vncsolutions.com/wp-content/uploads/2015/01/amazon-183750_640.png', size:'300x200', class:'hide-on-med-and-up') %>
  </center>
</div>
