<title>MDP - CONTACT</title>
<%= form_for Contact.new do |f| %>
  <h1 class='grey-text text-darken-2'>
    CONTACT
  </h1>
  <h4 class='grey-text'>For questions, inquiries, or generally conversation, use the form below.</h4>
  <br><br>
  <form>
    <div class='row'>
      <div class='input-field col s6'>
        <%= f.text_field :first_name %>
        <label for='first_name'>First Name</label>
      </div>
      <div class='input-field col s6'>
        <%= f.text_field :last_name %>
        <label for='last_name'>Last Name</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <%= f.text_field :email %>
        <label for='email'>Email</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <%= f.text_field :subject %>
        <label for='subject'>Subject</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <%= f.text_field :message, class:'materialize-textarea' %>
        <label for='textarea1'>Message</label>
      </div>
    </div>
    <button class='btn waves-effect waves-light blue'>SEND
      <i class='mdi-content-send right'></i>
    </button>
  </form>
<% end %>
<br><br><br>
