<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>First Name: <%= @contact.first_name %></p><br>
    <p>Last Name: <%= @contact.last_name %></p><br>
    <p>Email: <%= @contact.email %></p><br>
    <p>Subject: <%= @contact.subject %></p><br>
    <p>Message: <%= @contact.message %></p><br>
  </body>
</html>
