<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/css/materialize.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js'></script>
    <script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true, indicators: false});
    });
    </script>
  </head>
  <body>
    <nav class='grey lighten-5' role='navigation'>
      <div class='nav-wrapper container'>
        <ul class='right hide-on-med-and-down'>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['index']]) %>">
            <a href='/' class='grey-text text-darken-2'>BOOK</a>
          </li>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['quotes']]) %>">
            <a href='/the_truth_about_masturbation_quotes' class='grey-text text-darken-2'>QUOTES</a>
          </li>
          <li>
            <a href='#' class='grey-text text-darken-2'>PRE-ORDER THE BOOK</a>
          </li>
        </ul>
        <ul id='nav-mobile' class='side-nav'>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['work']]) %>">
            <a href='/' class='grey-text text-darken-2'>WORK</a>
          </li>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['about']]) %>">
            <a href='/about' class='grey-text text-darken-2'>ABOUT</a>
          </li>
          <li class="<%= active_link_to_class('#', active:[['contacts'],['new']]) %>">
            <a href='/contact' class='grey-text text-darken-2'>CONTACT</a>
          </li>
        </ul>
        <div class="hide-on-med-and-up" style='float:left;'>
          <a href='/' class='grey-text text-darken-2'>
            MICHAEL DEAN PIERCE
          </a>
        </div>
        <a href='#' data-activates='nav-mobile' class='button-collapse right'><i class='grey-text mdi-navigation-menu'></i></a>
      </div>
    </nav>
    <main class='grey lighten-5'>
      <br>
      <%= custom_bootstrap_flash %>
      <%= yield %>
    </main>
    <footer class='sticky-footer page-footer red darken-4'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <a href='/the_truth_about_masturbation_send_me_my_free_chapter'
               class='waves-effect waves-light btn-large white red-text text-darken-4'>
              Get The First Chapter Free
            </a>
          </div>
          <div class='col l4 offset-l2 s12'>
            <p class='white-text'>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat."
            </p>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
          © Ex nihilo Software LLC 2015
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
(function($){
  $(function(){

    $('.button-collapse').sideNav();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
<style>
body {
    background-image:url('/public/wheat_field_sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
</style>
