<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang='en' class='grey lighten-5'>
  <head>
    <meta charset='UTF-8'>
    <meta name='author' content='Michael Pierce'>
    <meta name='google' value='NoTranslate'/>
    <meta name='geo.region' content='US-CO' />
    <meta name='geo.placename' content='Denver' />
    <meta name='geo.position' content='39.739236;-104.990251' />
    <meta name='ICBM' content='39.739236, -104.990251' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no'/>
    <meta name="google-site-verification" content="KiEonpEBqGFU1pLZMS8E4rvpgjk_Q_UbcOJLgHdqwVY" />
    <meta name="msvalidate.01" content="DDF70234230746F0ECE5D98F7AAC9098" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/css/materialize.min.css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class='grey lighten-5' role='navigation'>
      <div class='nav-wrapper container'>
        <ul class='right hide-on-med-and-down'>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['index']]) %>">
            <a href='/' class='grey-text text-darken-2'>BOOK</a>
          </li>
          <!-- <li class="<%= active_link_to_class('#', active:[['static_pages'],['quotes']]) %>">
            <a href='/the_truth_about_masturbation_quotes' class='grey-text text-darken-2'>QUOTES</a>
          </li>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['blog', 'article_one', 'article_two', 'article_three']]) %>">
            <a href='/blog' class='grey-text text-darken-2'>BLOG</a>
          </li> -->
          <!-- <li>
            <a href='#' class='grey-text text-darken-2'>PRE-ORDER THE BOOK</a>
          </li> -->
        </ul>
        <ul id='nav-mobile' class='side-nav'>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['index']]) %>">
            <a href='/' class='grey-text text-darken-2'>BOOK</a>
          </li>
          <!-- <li class="<%= active_link_to_class('#', active:[['static_pages'],['quotes']]) %>">
            <a href='/the_truth_about_masturbation_quotes' class='grey-text text-darken-2'>QUOTES</a>
          </li>
          <li class="<%= active_link_to_class('#', active:[['static_pages'],['blog']]) %>">
            <a href='/blog' class='grey-text text-darken-2'>BLOG</a>
          </li> -->
          <!-- <li>
            <a href='#' class='grey-text text-darken-2'>PRE-ORDER THE BOOK</a>
          </li> -->
        </ul>
        <div class='hide-on-med-and-up' style='float:left;'>
        </div>
        <a href='#' data-activates='nav-mobile' class='button-collapse right'><i class='grey-text mdi-navigation-menu'></i></a>
      </div>
    </nav>
    <main class='grey lighten-5'>
      <br>
      <%= custom_bootstrap_flash %>
      <%= yield %>
    </main>
    <footer class='sticky-footer page-footer grey darken-3 footer-fix'>
      <div class='container'>
        <div class='row'>
          <div class='col l8 s12'>
            <h5 class='white-text'>Are you worried about whether or not masturbation is a sin?</h5>
            <h5 class='white-text'>Is masturbation a source of guilt and shame in your life?</h5>
            <p class='white-text'>
              The Truth About Masturbation will give you a
              full understanding of masturbation and will help you on your
              journey to become a stronger person mentally, physically, and
              spiritually. Whether masturbation is a source of spiritual trouble
              in your life, or if you are just curious to learn more about the
              fascinating history of the issue, The Truth About Masturbation
              will provide you a full and deep understanding of masturbation
              and its place in the human experience.
            </p>
          </div>
          <div class='col l4 s12'>
            <br>
            <a href='#send_me_more'
               class='waves-effect waves-light btn-large blue white-text'>
              Get The First Chapter Free
            </a>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
          © Ex Nihilo Publishing 2015
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- Scripts -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js'></script>
<script>
$(document).ready(function(){
  $('.slider').slider({full_width: true, indicators: true, height: 300});
});
</script>
<script>
(function($){
  $(function(){
    $('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63017497-1', 'auto');
  ga('send', 'pageview');

</script>
